@media screen and (max-width: 950px) {
    /* Body */
    .page-wrapper {
        width: 80%;
    }

    .game-info {
        font-size: 1.4em;
    } 

    /* Win-modal */
    .modal-body {
        font-size: 150px;
    }

    /* Footer */
    .site-footer {
        font-size: 1em;
        margin: 0 0 auto;
    }
}

@media screen and (max-width: 750px) {
    .modal-body {
        font-size: 100px;
    }
}

@media screen and (max-width: 650px) {
    /* Body */
    .page-wrapper {
        width: 95%;
        padding: 1%;
    }

    .game-info {
        font-size: 1em;
    }
}

@media screen and (max-width: 550px) {
    .page-header {
        margin: 2% 0;
    }
    
    .title {
        font-size: 3em;
        margin: 2% 0;
    }

    .game-info {
        font-size: 1em;
    }

    .card {
        width: 68px;
        height: calc(68px * 1.25);
    }

    .bracket {
        display: none;
    }

    .modal-body {
        text-orientation: upright;
    }
}

@media screen and (max-width: 375px) {
   .title {
       font-size: 2em;
   }
   
    .card {
        width: 48px;
        height: calc(48px * 1.25);
    }

    .modal-body {
        font-size: 75px;
    }
}

@media screen and (max-width: 325px) {
    .modal-footer {
        height: 25%;
    }

    .modal-body {
        font-size: 50px;
    }

    /* Final score text */
    .fs-text {
        display: none;
    } 
}