@media screen and (max-width: 950px) {
    /* Body */
    .page-wrapper {
        width: 80%;
    }

    .game-info {
        font-size: 1.4em;
    }

    .rating {
        width: 200px;
    }

    /* Footer */
    .site-footer {
        font-size: 1em;
        margin: 0 0 auto;
    }
}